body {
  font-family: "Manrope", sans-serif;
}

/* Навигационное меню */

.header {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; /* Для заглавных букв как в примере */
  letter-spacing: 2px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #764ba2;
}

/* Секция О НАС   */

.about {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.about__container-heading {
  margin-top: 73px;
  font-size: 60px;
}

.about__container-img {
  width: 1150px;
  height: 500px;
  background-image: url("../src/Rectangle1.png");
  background-size: contain;
  font-weight: 400;
  margin-top: 20px;
}

.about__container-img p {
  width: 500px;
  height: 81px;
  color: white;
  padding-top: 379px;
  padding-left: 40px;
  line-height: 1.6;
  font-size: 20px;
}

.about h2 {
  padding-top: 150px;
  font-size: 20px;
}

.about__container__main-text {
  font-size: 45px;
  padding-top: 30px;
}

.about__container-button {
  width: 255px;
  height: 67px;
  text-align: center;
  line-height: normal;
  padding: 12px 24px;
  background-color: #ad1818;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 150px;
}

/* <!-- Секция проектов --> */

.projects {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 30px;
}

.projects__item {
  margin-bottom: 90px;
}

.projects__img {
  margin-bottom: 15px;
}

.projects h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.projects h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.projects a {
  color: #ad1818;
  font-size: 20px;
}

.projects__button {
  width: 1150px;
  height: 153px;
  display: block;
  margin: 40px auto 0; /* центрирование */
  padding: 15px 40px;
  color: #ad1818;
  border: none;
  border: 1px solid #ad1818;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projects__button:hover {
  background-color: #ad1818;
  color: white;
}
